matplotlib==3.3.2
healpy==1.12.5
asdf==2.7.1
git+https://github.com/spacetelescope/jwst_gtvt.git
git+https://github.com/spacetelescope/mirage.git@969cc64f883f43011f8bd772482d0df06895201e
jwst
pysiaf==0.9.0
git+https://github.com/anand0xff/ImPlaneIA.git@6319679594cb71d162996123368770619541d081
poppy
webbpsf
uncertainties
munch
astroquery
termcolor
git+https://github.com/SydneyAstrophotonicInstrumentationLab/AMICAL.git@d6b6526a661f59bd9dc15871423cd2a6f461242a