matplotlib
healpy
asdf==2.7.1
git+https://github.com/spacetelescope/mirage@41684f432d04288cf9418d11a9192b92861ef7e6
jwst==1.1.0
git+https://github.com/anand0xff/ImPlaneIA.git@cd389c627caea8a90175f05c7651ad9a350bc692
poppy
webbpsf
uncertainties
munch
astroquery
termcolor
git+https://github.com/SydneyAstrophotonicInstrumentationLab/AMICAL.git@781f73ddbc230d76f46717d48e2f9471e8b60842
