astropy==4.0.1
specutils==1.0
matplotlib==3.1.3
Bottleneck==1.3.2
ipyvue==1.3.4
ipyvuetify==1.4.1
git+https://github.com/jbcurtin/glue.git@9e47dae27dda589c29864f27fd75edf283aaece1#egg=glue-core
git+https://github.com/jbcurtin/glue-jupyter.git@0aa4b2b953abb1e213ae8e5e6c55c8e5ad934c26#egg=glue-jupyter
git+https://github.com/jbcurtin/jdaviz.git@482d36eb892e8d7c2ed6e2ba95d6ca1ebcc8c6ec#egg=jdaviz
